.templateShortcuts {
  width: 4rem;
  border-radius: 0.1rem;
  padding: 0 5px 5px 5px;
  position: absolute;
  text-align: center;
  border: 1px solid transparent;

  &.focused {
    border: 1px solid rgba(255, 255, 255, 0.2);
    background: rgba(255, 255, 255, 0.1);
  }

  & * {
    cursor: default;
  }

  &:hover {
    border: 1px solid rgba(255, 255, 255, 0.2);
    background: rgba(0, 0, 0, 0.1);
  }

  img {
    width: 100%;
    height: auto;
  }

  h2 {
    font-size: 0.8rem;
    max-width: inherit;
    color: white;
    text-shadow: 0 0 4px #000;
    word-wrap: break-word;
    user-select: none;
  }
}
